[Unit]
Description=Nightly node backup timer

[Timer]
OnCalendar=%%BACKUP_SCHEDULE%%
RandomizedDelaySec=%%BACKUP_SCHEDULE_JITTER%%
Persistent=true

[Install]
WantedBy=timers.target
