[Unit]
Description=Daily failure notification timer for node-backup

[Timer]
OnCalendar=%%NOTIFY_SCHEDULE%%
Persistent=true

[Install]
WantedBy=timers.target
